/*Home*/
.home {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  min-height: 100vh;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #536268;
  overflow-x: hidden;
  position: relative;
  padding-bottom: 50px;
}

/*Hero*/
.hero {
  width: 100%;
  height: 850px;
  background-image: linear-gradient(transparent 30%, #536268), 
    url('../Images/seven.jpeg');
  background-size: auto, cover;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-text {
  font-family: 'Cormorant Garamond', serif;
  color: white;
  font-size: 10vh;
  margin: 0px;
  opacity: 0;
  transition: opacity 2s ease-in;
  will-change: opacity;
  letter-spacing: .1em;
  filter: drop-shadow(0px 1px 1px black); 
}


/*Animated Logo*/
.hero-logo {
  margin: 0px;
  width: 200px;
  filter: drop-shadow(0px 1px 1px black); 
}

.logo-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; 
  align-items: center;
  position: relative;
  z-index: 1;
}

.sun {
  width: 40%;
  left: 24%;
  z-index: -1;
  position: absolute;
  top: -40px;
  animation: rise 3s ease-out 1;
}

.mountains {
  width: 100%;
  z-index: 2;
}

@keyframes rise {
  0% {
      top: -5px;
  }

  100% {
      top: -40px;
  }
}

/*About*/
.about {
  z-index: 1;
  margin-bottom: 200px;
  display: flex;
  width: 75%;
  justify-content: space-around;
  font-family: 'Gothic A1', sans-serif;
  color: white;
}

.about-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  text-align: center;
  filter: drop-shadow(0px 1px 1px black); 
}

h2 {
  font-size: 3vh;
  margin-bottom: 2px;
  font-family: 'Cormorant Garamond', serif;
}

.about-text-one {
  opacity: 0;
  transform: translateY(-4em);
  transition: transform 6s cubic-bezier(0,1,.3,1),
              opacity .3s .25s ease-out;
  will-change: transform, opacity;
}

.about-text-two {
  opacity: 0;
  transform: translateY(-6em);
  transition: transform 7s cubic-bezier(0,1,.3,1),
              opacity .5s .25s ease-out;
  will-change: transform, opacity;
}

.about-text-three {
  opacity: 0;
  transform: translateY(-8em);
  transition: transform 8s cubic-bezier(0,1,.3,1),
              opacity .7s .25s ease-out;
  will-change: transform, opacity;
}


.visible {
  opacity: 1;
  transform: translateY(0em);
}


/*Collage*/
.collage {
  width: 95%;
  max-width: 1500px;
}

.img-one {
  position: relative;
  z-index: 4;
  margin-left: 20px;
  width: 44vh;
  top: 0px;
}

.img-two {
  position: relative;
  z-index: 4;
  margin-left: 400px;
  width: 35vh;
}

.collage-title {
  position: absolute;
  width: 300px;
  margin-left: 555px;
  margin-top: 1350px;
  font-family: 'Cormorant Garamond', serif;
  color: white;
  font-size: 4.5vh;
  filter: drop-shadow(0px 1px 1px black); 
}

.collage-text {
  position: absolute;
  width: 600px;
  margin-left: 850px;
  margin-top: 1400px;
  font-size: 3vh;
  font-family: 'Gothic A1', sans-serif;
  color: white;
  filter: drop-shadow(0px 1px 1px black); 
}

/*Footer*/
.footer {
  width: 80%;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  background-color: #2c4047;
  margin-top: -250px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 125px;
  filter: drop-shadow(0px 1px 2px black); 
  padding-left: 100px;
}

.footer .span {
  display: flex;
  flex-direction: column;
}

.footer div {
  margin: 15px 15px;
  font-family: 'Gothic A1', sans-serif;
  color: white;
  filter: drop-shadow(0px 1px 1px black); 
}

.footer .title {
  font-size: 3.5vh;
  font-family: 'Cormorant Garamond', serif;
}

.footer img {
  background-color: transparent;
  height: 350px;
  position: absolute;
  margin-left: 47%;
  margin-top: -149px;
}













