/*Register*/
.register {
    width: 100%;
    max-width: 100vw;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('../Images/one.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
}

/*Register Section*/
.register-section-one {
    background-color: white;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Gothic A1', sans-serif;
    color: #536268;
    width: 500px;
    height: 450px;
    border: 3px solid #9e9161;
}

.register-section-two {
    background-color: white;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Gothic A1', sans-serif;
    color: #536268;
    width: 425px;
    min-height: 450px;
    border: 3px solid #9e9161;
    padding-bottom: 20px;
}

.register-logo {
    margin-top: 50px;
    width: 100px;
}

.register-header {
    font-size: 1.5vh;
    letter-spacing: .3px;
    width: 290px;
    text-align: center;
    margin-top: 20px;
}

/*Form*/
.form-one, .form-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #536268;
    font-size: 14px;
    width: 175px;
    height: 30px;
    padding-left: 5px;
}

/*Register Form One*/
.name-input {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}

.last-name-input {
    margin-left: 20px;
}

.age-input {
    margin-top: 15px;
    margin-bottom: 20px;
    align-self: flex-start;
}

/*Have An Account*/
.have-account {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 55px;
    padding: 0px;
    margin-top: -50px;
    line-height: 5px;
    font-size: 1.5vh;
}

/*Next Button*/
.next-button {
    align-self: end;
    margin-top: 47px;
    margin-right: 55px;
    width: 115px;
    border-radius: 3px;
    color: white;
    background-color: #60270d;
    padding: 15px;
}

/*Register Form Two*/
.email-input {
    margin-top: 25px;
    width: 300px;
}

.register-username-input {
    margin-top: 15px;
    width: 300px;
}

.register-password-input {
    margin-top: 15px;
    width: 300px;
}

/*Back Button*/
.register-back-button {
    align-self: start;
    margin-top: -47.4px;
    margin-left: 62.5px;
    width: 115px;
    border-radius: 3px;
    color: white;
    background-color: #60270d;
    padding: 15px;
}

/*Register Form Two Submit Button*/
.register-button {
    align-self: end;
    margin-top: 47px;
    margin-right: 0px;
    width: 115px;
    border-radius: 3px;
    color: white;
    background-color: #60270d;
    padding: 15px;
}

/*Error Message*/
.register-error {
    font-size: 14px;
    margin-bottom: 5px;
    color: red
}