/*Feed*/
.feed {
    width: 100%;
    max-width: 100vw;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    background: linear-gradient(0deg, rgba(255, 251, 251, 0.6), rgba(255, 251, 
    251, 0.6)), linear-gradient(0deg, rgba(153, 165, 126, 0.8), rgba(153, 165, 126, 0.8)), #C3B784;
}

/*Create Post Box*/
.create-post-form {
    width: 65%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 7.5px;
    max-width: 750px;
    filter: drop-shadow(0px 1px 1px #536268); 
}

.caption-post-input {
    width: 100%;
    height: 70%;
    padding-top: 10px;
    padding-bottom: 140px;
    padding-left: 10px;
    font-size: 12px;
    font-family: 'Gothic A1', sans-serif;
    background: linear-gradient(0deg, rgba(255, 251, 251, 0.6), 
        rgba(255, 251, 251, 0.6)), linear-gradient(0deg, 
        rgba(167, 184, 205, 0.8), rgba(167, 184, 205, 0.8)), #536268;
    border: 0px;
    color: black;
    max-width: 100%;
    min-width: 100%;
}

.add-to-post {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 35px;
}

.trail-post-input {
    width: 30%;
    height: 40px;
    font-family: 'Gothic A1', sans-serif;
    font-size: 12px;
}

.picture-post-input {
    width: 1px;
    margin-left: -10px;
}

.upload-images-icon {
    margin-left: 10.5px;
    width: 35px;
}

.upload-images-label {
    z-index: 5;
}

.post-button {
    margin-left: 50%;
    height: 40px;
    margin-right: 0px;
    background-color: #60270d;
    width: 85px;
    font-size: 12px;
    padding: 2px;
    color: white;
}

.post-button:active {
    transform: scale(0.98);
}

/*Post Grid*/
.post-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
}

.no-posts {
    font-family: 'Gothic A1', sans-serif;
    margin-top: 20px;
    font-size: 16px;
    color: #60270d;
}

/*Post Card*/
.post-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    padding: 15px;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
    height: 400px;
    max-width: 750px;
    filter: drop-shadow(0px 1px 1px #536268); 
}

.post-card h1 {
    font-family: 'Cormorant Garamond', serif;
    margin: 0px;
    font-size: 2.75vh;
    cursor: pointer;
}

.post-card h1:hover {
    color: #60270d;
}

.post-card h2 {
    font-family: 'Gothic A1', sans-serif;
    margin: 5px 0px 10px 0px;
    font-size: 1.7vh;
    color: #536268;
    cursor: pointer;
    width: 25%;
}

.post-card h2:hover {
    color: lightgray;
}

.post-card span:active {
    color: lightgray;
}

.post-card-section {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.post-pic-container {
    width: 60%;
    height: 300px;
    overflow: hidden;
}

.post-pic {
    object-fit: cover;
    transform: translateY(-50%);
}

/*Right Side of Post Card*/
.post-right-section {
    margin: 0px 0px 0px 15px;
    width: 40%;
    height: 300px;
    font-family: 'Gothic A1', sans-serif;
    font-size: 1.5vh;
    color: #536268; 
    padding: 0px;
}

.post-caption {
    height: 94%;
    margin: 0px;
}
.post-likes {
    margin: 0px;
    padding: 0px;
}

.post-likes button {
    margin: 0px;
    padding: 0 10px 0px 0px;
}

.post-likes button:active {
    color: lightgray;
}